<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Inv freq:</strong>
  <%= @project.inv_freq %>
</p>

<p>
  <strong>Hourly rate:</strong>
  <%= @project.hourly_rate %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @project.manager %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @project.invoice %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
