<%= form_with(model: rec_expense, local: true) do |form| %>
  <% if rec_expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rec_expense.errors.count, "error") %> prohibited this rec_expense from being saved:</h2>

      <ul>
      <% rec_expense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :frequency %>
    <%= form.text_field :frequency %>
  </div>

  <div class="field">
    <%= form.label :expense_id %>
    <%= form.text_field :expense_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
