<p id="notice"><%= notice %></p>

<p>
  <strong>Exp type:</strong>
  <%= @expense.exp_type %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @expense.amount %>
</p>

<p>
  <strong>Month:</strong>
  <%= @expense.month %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @expense.paid %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @expense.invoice %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
